# Author: Dinesh Sadhwani

### **Objective:** 
A large media conglomerate has hired us to figure out which JCDecaux bike stations across the cities of Lyon, Dublin, Bruxelles, and Toyama have the most active bike ridership. The media company aims to setup electronic ad panels and other media near busy bike stations to get impressions for their clients. We perform Data Analysis to answer the following questions:
1. If we compare the 4 cities, which city has the most active bike ridership and which city has the least active one?
2. Which city has the maximum total stands capacity across all its stations? Total capacity is sum of main stand capacity and overflow stand capacity.
3. Pre-christmas, on a daily basis, which are the top 10 stations having the most active ridership?
4. Pre-christmas, on an hourly basis, which are the top 10 stations having the most active ridership?
5. Do the cities in the lists from 3 and 4 change significantly post-christmas?
6. Of the cities in the dataset that have stations with both mechanical and electric bikes, are there any cities having strong preference for either mechanical or electric bikes?

#### **About the Dataset:** 
The dataset describes the status of each bike rental stand in the cities of Lyon (France), Bruxelles (Belgium), Dublin (Ireland), and Toyama (Japan). The cities are indicated by the contractName column. The columns contractName and number uniquely identify each bike stand. The lastUpdate attribute specifies the time when the status of the bike rental station was last updated. Although the JCDecaux API server updates data every minute, for the stations that do not see a lot of activity, there is a significant difference between any 2 consecutive values of lastUpdate. On the contrary, the stations with a lot of activity have a few minutes of difference between any 2 consecutive values of lastUpdate. We will mainly be working with totalStands_availabilities.bikes (number of all bikes that are available for renting), totalStands_availabilities.stands (number of empty stands at a station), totalStands_availabilities.mechanicalBikes (of the available total bikes, how many are mechanical), and totalStands_availabilities.electricalBikes (of the available total bikes, how many are electric)

In [1]:
# importing all the required python libraries

import pandas as pd
import glob

pd.set_option('display.max_rows', 1000)

### Importing and Pre-processing Data

The bikes_data_df will combine and hold both pre- and post- christmas data

In [2]:
bikes_data_df = pd.concat([pd.read_csv(f) for f in glob.glob("./data/" + "*.csv")], ignore_index=True)

Pandas info() function tells us that only the address column has missing values

In [3]:
bikes_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1005859 entries, 0 to 1005858
Data columns (total 26 columns):
 #   Column                                                      Non-Null Count    Dtype
---  ------                                                      --------------    -----
 0   number                                                      1005859 non-null  int64
 1   contractName                                                1005859 non-null  object
 2   name                                                        1005859 non-null  object
 3   address                                                     909141 non-null   object
 4   position                                                    1005859 non-null  object
 5   banking                                                     1005859 non-null  bool
 6   bonus                                                       1005859 non-null  bool
 7   status                                                      1005859 non-null  object
 8   lastUpdate                                                  1005859 non-null  object
 9   connected                                                   1005859 non-null  bool
 10  overflow                                                    1005859 non-null  bool
 11  shape                                                       0 non-null        float64
 12  totalStands_capacity                                        1005859 non-null  int64
 13  totalStands_availabilities.bikes                            1005859 non-null  int64
 14  totalStands_availabilities.stands                           1005859 non-null  int64
 15  totalStands_availabilities.mechanicalBikes                  1005859 non-null  int64
 16  totalStands_availabilities.electricalBikes                  1005859 non-null  int64
 17  totalStands_availabilities.electricalInternalBatteryBikes   1005859 non-null  int64
 18  totalStands_availabilities.electricalRemovableBatteryBikes  1005859 non-null  int64
 19  mainStands_capacity                                         1005859 non-null  int64
 20  mainStands_availabilities.bikes                             1005859 non-null  int64
 21  mainStands_availabilities.stands                            1005859 non-null  int64
 22  mainStands_availabilities.mechanicalBikes                   1005859 non-null  int64
 23  mainStands_availabilities.electricalBikes                   1005859 non-null  int64
 24  mainStands_availabilities.electricalInternalBatteryBikes    1005859 non-null  int64
 25  mainStands_availabilities.electricalRemovableBatteryBikes   1005859 non-null  int64
dtypes: bool(4), float64(1), int64(15), object(6)
memory usage: 172.7+ MB

The lastUpdate column needs to be converted to a pandas datetime object and we need to remove its timezone awareness

In [4]:
# converting lastUpdate to datetime

bikes_data_df.lastUpdate = pd.to_datetime(bikes_data_df.lastUpdate)

# removing timezone awareness

bikes_data_df.lastUpdate = bikes_data_df.lastUpdate.dt.tz_convert(None)

Next we extract the day, month, and hour from the lastUpdate column. These columns will be needed for our analysis later

In [5]:
# extract day

bikes_data_df["last_update_day"] = bikes_data_df['lastUpdate'].dt.day

# extract month

bikes_data_df["last_update_month"] = bikes_data_df['lastUpdate'].dt.month

# extract hour of the day

bikes_data_df["last_update_hour"] = bikes_data_df['lastUpdate'].dt.hour

Grouping by day and month, we notice that there are certain rows that have stale data, i.e., data that does not fall in our analytics timeframe

In [6]:
bikes_data_df.groupby(["last_update_day", "last_update_month"]).size()

last_update_day  last_update_month
18               11                        2
19               12                    26900
20               12                   170093
21               12                   169656
22               11                        2
                 12                   164545
25               12                        1
26               12                   126916
27               12                   146971
28               12                   151912
29               12                    48859
30               9                         2
dtype: int64

Let's have a look at these rows with outdated data

In [7]:
bikes_data_df[bikes_data_df["last_update_month"] < 12]

,number,contractName,name,address,position,banking,bonus,status,lastUpdate,connected,...,mainStands_capacity,mainStands_availabilities.bikes,mainStands_availabilities.stands,mainStands_availabilities.mechanicalBikes,mainStands_availabilities.electricalBikes,mainStands_availabilities.electricalInternalBatteryBikes,mainStands_availabilities.electricalRemovableBatteryBikes,last_update_day,last_update_month,last_update_hour
511,507,dublin,ORIEL STREET TEST TERMINAL,"JCDecaux Ireland, 52 Oriel Street Lower, Dublin 1","{'latitude': 53.35463, 'longitude': -6.242615}",False,False,OPEN,2021-11-18 07:11:16,True,...,1,1,0,1,0,0,0,18,11,7
622,208,bruxelles,208 - MELBA,MELBA - AV NELLIE MELBA (FACE 1 a 9) / NELLIE ...,"{'latitude': 50.832565, 'longitude': 4.294311}",False,False,CLOSED,2021-11-22 08:35:26,False,...,25,0,0,0,0,0,0,22,11,8
770,286,bruxelles,286 - BENS,BENS - CHEE D'ALSEMBERG DEVANT LE 548 / ALSEMB...,"{'latitude': 50.807811, 'longitude': 4.336789}",False,False,CLOSED,2021-09-30 08:37:53,False,...,20,0,0,0,0,0,0,30,9,8
475173,507,dublin,ORIEL STREET TEST TERMINAL,"JCDecaux Ireland, 52 Oriel Street Lower, Dublin 1","{'latitude': 53.35463, 'longitude': -6.242615}",False,False,OPEN,2021-11-18 07:11:16,True,...,1,1,0,1,0,0,0,18,11,7
475284,208,bruxelles,208 - MELBA,MELBA - AV NELLIE MELBA (FACE 1 a 9) / NELLIE ...,"{'latitude': 50.832565, 'longitude': 4.294311}",False,False,CLOSED,2021-11-22 08:35:26,False,...,25,0,0,0,0,0,0,22,11,8
475432,286,bruxelles,286 - BENS,BENS - CHEE D'ALSEMBERG DEVANT LE 548 / ALSEMB...,"{'latitude': 50.807811, 'longitude': 4.336789}",False,False,CLOSED,2021-09-30 08:37:53,False,...,20,0,0,0,0,0,0,30,9,8

We can safely drop these rows. The 2 stations in Bruxelles are closed and disconnected. The station in Dublin has only 2 rows

In [8]:
bikes_data_df.drop(bikes_data_df[bikes_data_df["last_update_month"] < 12].index, axis=0,inplace=True)

Creating a multilevel index using number, contractName, and lastUpdate

In [9]:
bikes_data_df = bikes_data_df.set_index(["number", "contractName", "lastUpdate"]).sort_index()

Now, the dataframe is ready for analysis

### Answering the questions (Analysis Part)

Let's start by looking at the average number of updates for each station before Christmas

In [10]:
avg_number_of_updates_before_christmas = round(bikes_data_df[bikes_data_df.last_update_day < 25].groupby(["number", "contractName"])\
                       .size().mean())
                        

avg_number_of_updates_after_christmas = round(bikes_data_df[bikes_data_df.last_update_day > 25].groupby(["number", "contractName"])\
                       .size().mean())

print(f"Average number of updates before Christmas: {avg_number_of_updates_before_christmas}\nAverage number of updates after Christmas: {avg_number_of_updates_after_christmas}")

Average number of updates before Christmas: 584
Average number of updates after Christmas: 522

There seems to be a slight drop in activity post-Christmas. This may be because most businesses around the world follow a relaxed schedule from Christmas through 31 December

Next we look at for pre- and post-christmas, what are the top 10 stations that have higher than average number of updates. We believe that both list will be almost the same

In [11]:
# top 10 higher than average updates before christmas

# first we need to get the updates that were pre-christmas and group them by station name and number

top_10_pre_christmas = bikes_data_df[bikes_data_df.last_update_day < 25].groupby(["number", "contractName"])

# then we get count of updates for each station

top_10_pre_christmas = top_10_pre_christmas.size()

# filter out those that have count of updates above average

top_10_pre_christmas = top_10_pre_christmas[top_10_pre_christmas > avg_number_of_updates_before_christmas]

top_10_pre_christmas = top_10_pre_christmas.sort_values(ascending=False).head(10)



# top 10 higher than average updates after christmas

# first we need to get the updates that were post-christmas and group them by station name and number

top_10_post_christmas = bikes_data_df[bikes_data_df.last_update_day > 25].groupby(["number", "contractName"])

# then we get count of updates for each station

top_10_post_christmas = top_10_post_christmas.size()

# filter out those that have count of updates above average

top_10_post_christmas = top_10_post_christmas[top_10_post_christmas > avg_number_of_updates_after_christmas]

top_10_post_christmas = top_10_post_christmas.sort_values(ascending=False).head(10)

In [12]:
print(top_10_pre_christmas)
print(top_10_post_christmas)

number  contractName
5       bruxelles       4153
205     bruxelles       3561
119     bruxelles       2275
3011    lyon            1891
105     bruxelles       1771
224     bruxelles       1736
215     bruxelles       1723
3003    lyon            1392
1002    lyon            1237
38      bruxelles       1149
dtype: int64
number  contractName
5       bruxelles       1877
224     bruxelles       1783
215     bruxelles       1722
2       bruxelles       1677
70      bruxelles       1409
3011    lyon            1189
38      bruxelles       1037
187     bruxelles       1024
180     bruxelles       1015
105     bruxelles        976
dtype: int64

It is interesting to note that both lists look somewhat different. Also, post-christmas, the number of updates have reduced significantly

#### 1. If we compare the 4 cities, which city has the most active bike ridership and which city has the least active one?

To answer this, we look at the standard deviation of totalStands_availabilities.bikes grouped by contractName

In [13]:
# grouping the data by cities

city_grouping = bikes_data_df.groupby("contractName")

# calculating mean and standard deviation of total available bikes

city_grouping["totalStands_availabilities.bikes"].agg(["std", "mean"])

                   std       mean
contractName
bruxelles     4.344886  11.330077
dublin        7.501828  12.864938
lyon          7.219247   9.861371
toyama        3.628555   9.480609

Going just by standard deviation, we can simply conclude that Dublin has the most active ridership. However, we may be wrong because each city has a different scale (range) for totalStands_availabilities.bikes attribute. Therefore, for each city, we instead look at the normalized standard deviation which is standard deviation divided by the mean

In [14]:
# user-defined function that can be used within aggs

def normal_std(group):
  try:
    return group.std() / group.mean()
  except ZeroDivisionError:
        return 0

In [15]:
city_grouping["totalStands_availabilities.bikes"]\
.agg([("standard deviation","std"), "mean", ("normalized standard deviation", normal_std)]).T

contractName                   bruxelles     dublin      lyon    toyama
standard deviation              4.344886   7.501828  7.219247  3.628555
mean                           11.330077  12.864938  9.861371  9.480609
normalized standard deviation   0.383482   0.583122  0.732073  0.382734

From the normalized standard deviation, it is clear that Lyon, France has the most active ridership and Toyama, Japan has the least (relatively speaking), although Toyama and Bruxelles are almost equal.

Standard deviation is a measure of variability. The more the number of available bikes vary, the more active is the ridership

We could have used the variability in the number of available stands. However, some stations might have stands that are forever empty and this fact affects the standard deviation metric. Therefore, variability in the number of bikes available is a much more appropriate measure.

#### 2. Which city has the maximum total stands capacity across all its stations? Total capacity is sum of main stand capacity and overflow stand capacity.

We first use the city_grouping group by dataframe created before to sum the capacity of all stations grouped by their cities

In [16]:
city_stations_capacity = city_grouping["totalStands_capacity"].transform(lambda x: sum(set(x)))

What we just created is a series that has the total station capacities per city. However, this value is being repeated. So, we use drop_duplicates, convert series to dataframe and transpose it

In [17]:
city_stations_capacity.drop_duplicates().droplevel([0,2]).to_frame().T

contractName          bruxelles  toyama  dublin  lyon
totalStands_capacity        724     260     482  1320

Lyon has the most total capacities across all its stations. This could explain the high active ridership of Lyon. Because there are more stations in Lyon, there are more riders. Also, intrestingly, although Bruxelles and Toyama have almost the same ridership (as we observed from the previous analysis), Bruxelles has almost 3 times the total capacity of Toyama. Quite possibly, most of the stands in Bruxelles are just empty and are never used to park a bike

#### 3. Pre-christmas, on a daily basis, which are the top 10 stations having the most active ridership?

In [18]:
# we first slice the dataset to get data for pre-christmas

pre_christmas_daily = bikes_data_df[bikes_data_df.last_update_day < 25]

In [19]:
# next we create a pivot table that aggregates over days, number, and contractName. 
# We use normalized standard deviation that we created earlier as aggfunction

pre_christmas_daily_pivot = pd.pivot_table(pre_christmas_daily, 
               index=["number", "contractName"], 
               columns=["last_update_day"], 
               values=["totalStands_availabilities.bikes"], aggfunc=[normal_std])

C:\Users\dines\AppData\Local\Temp\ipykernel_19040\116835333.py:5: RuntimeWarning: invalid value encountered in double_scalars
  return group.std() / group.mean()

For each day, we need to sort the values individually because each day is a column and sorting one column unsorts the other

In [20]:
# sorting 19 Dec values

print(pre_christmas_daily_pivot[("normal_std", "totalStands_availabilities.bikes", 19)].sort_values(ascending=False).head(10))

# sorting 20 Dec values

print(pre_christmas_daily_pivot[("normal_std", "totalStands_availabilities.bikes", 20)].sort_values(ascending=False).head(10))

# sorting 21 Dec values

print(pre_christmas_daily_pivot[("normal_std", "totalStands_availabilities.bikes", 21)].sort_values(ascending=False).head(10))

# sorting 22 Dec values

print(pre_christmas_daily_pivot[("normal_std", "totalStands_availabilities.bikes", 22)].sort_values(ascending=False).head(10))

number  contractName
4021    lyon            5.196152
5016    lyon            2.823709
19001   lyon            2.823709
3011    lyon            2.481496
4008    lyon            2.391652
4006    lyon            2.391652
4002    lyon            2.137576
3080    lyon            1.686662
8002    lyon            1.610153
10113   lyon            1.566717
Name: (normal_std, totalStands_availabilities.bikes, 19), dtype: float64
number  contractName
79      bruxelles       2.157104
3008    lyon            1.565572
4022    lyon            1.485868
192     bruxelles       1.388184
4005    lyon            1.331715
1024    lyon            1.321775
555     lyon            1.281327
1003    lyon            1.279883
7051    lyon            1.251076
5026    lyon            1.236065
Name: (normal_std, totalStands_availabilities.bikes, 20), dtype: float64
number  contractName
25      dublin          1.526518
20002   lyon            1.332911
3008    lyon            1.257534
3009    lyon            1.212829
3038    lyon            1.207562
10004   lyon            1.201247
3015    lyon            1.171938
7015    lyon            1.165583
3005    lyon            1.142280
7021    lyon            1.132204
Name: (normal_std, totalStands_availabilities.bikes, 21), dtype: float64
number  contractName
201     lyon            4.060661
10035   lyon            3.022619
62      bruxelles       1.654335
7006    lyon            1.345954
555     lyon            1.293695
8015    lyon            1.266330
7015    lyon            1.218445
10028   lyon            1.206492
9013    lyon            1.141804
55      dublin          1.132732
Name: (normal_std, totalStands_availabilities.bikes, 22), dtype: float64

From the 4 dataframes, we can conclude that Lyon has the most active stations on a daily basis.

#### 4. Pre-christmas, on an hourly basis, which are the top 10 stations having the most active ridership?

To answer this question, we first need to create groupings by number, contractName, and last_update_hour and calculate the aggregated normal standard deviation. We performing said grouping on the pre_cristmas_daily dataframe defined earlier

In [21]:
top_10_hourly_group = pre_christmas_daily\
                      .groupby(["number", "contractName", "last_update_hour"])["totalStands_availabilities.bikes"]\
                      .agg([("bikes_normal_std", normal_std)])\
                      .reset_index()

C:\Users\dines\AppData\Local\Temp\ipykernel_19040\116835333.py:5: RuntimeWarning: invalid value encountered in double_scalars
  return group.std() / group.mean()

In [22]:
top_10_hourly_group\
.sort_values(["last_update_hour", "bikes_normal_std"], ascending=[True, False])\
.groupby("last_update_hour").head(10)

       number contractName  last_update_hour  bikes_normal_std
12037    2001         lyon                 0          2.051957
13045    3008         lyon                 0          1.463919
4056       79    bruxelles                 0          1.455214
12469    2019         lyon                 0          1.455214
13621    3058         lyon                 0          1.455214
14053    3090         lyon                 0          1.455214
16765    7026         lyon                 0          1.455214
12973    3005         lyon                 0          1.452025
12997    3006         lyon                 0          1.404358
13333    3031         lyon                 0          1.395678
577         9       dublin                 1          1.719173
13094    3011         lyon                 1          1.659199
13982    3087         lyon                 1          1.596872
12038    2001         lyon                 1          1.562619
4057       79    bruxelles                 1          1.455214
12470    2019         lyon                 1          1.455214
13334    3031         lyon                 1          1.455214
13814    3080         lyon                 1          1.455214
14054    3090         lyon                 1          1.455214
16766    7026         lyon                 1          1.455214
14271    3138         lyon                 2          4.358899
17487    8010         lyon                 2          1.530931
16263    7005         lyon                 2          1.498298
578         9       dublin                 2          1.455214
4058       79    bruxelles                 2          1.455214
12471    2019         lyon                 2          1.455214
13335    3031         lyon                 2          1.455214
16767    7026         lyon                 2          1.455214
14055    3090         lyon                 2          1.449138
20751   11001         lyon                 2          1.449138
17488    8010         lyon                 3          1.612145
14392    4005         lyon                 3          1.545836
13336    3031         lyon                 3          1.498298
579         9       dublin                 3          1.455214
20752   11001         lyon                 3          1.455214
21376   19001         lyon                 3          1.455214
20464   10113         lyon                 3          1.439553
13048    3008         lyon                 3          1.400781
4059       79    bruxelles                 3          1.398173
14272    3138         lyon                 3          1.354006
13169    3015         lyon                 4          1.860932
20465   10113         lyon                 4          1.659199
14057    3090         lyon                 4          1.596872
17489    8010         lyon                 4          1.567208
580         9       dublin                 4          1.455214
4060       79    bruxelles                 4          1.455214
13337    3031         lyon                 4          1.455214
14273    3138         lyon                 4          1.455214
20753   11001         lyon                 4          1.455214
21377   19001         lyon                 4          1.455214
13434    3038         lyon                 5          4.358899
16506    7015         lyon                 5          4.242641
18426    9013         lyon                 5          1.455214
21378   19001         lyon                 5          1.382483
14322    4002         lyon                 5          1.365975
4061       79    bruxelles                 5          1.289909
20466   10113         lyon                 5          1.289909
13338    3031         lyon                 5          1.268484
13410    3037         lyon                 5          1.267649
11874    1024         lyon                 5          1.238632
18427    9013         lyon                 6          1.767229
4062       79    bruxelles                 6          1.512295
11875    1024         lyon                 6          1.366014
11947    1034         lyon                 6          1.291458
21379   19001         lyon                 6          1.278483
13411    3037         lyon                 6          1.259377
16507    7015         lyon                 6          1.242390
11550     555         lyon                 6          1.172214
17827    8038         lyon                 6          1.158282
16339    7008         lyon                 6          1.148922
13076    3009         lyon                 7          1.679120
11732    1013         lyon                 7          1.494783
367         6       dublin                 7          1.361066
11876    1024         lyon                 7          1.348875
1663       25       dublin                 7          1.284523
17084    7051         lyon                 7          1.247060
11551     555         lyon                 7          1.236766
11948    1034         lyon                 7          1.232506
20132   10083         lyon                 7          1.231901
11684    1006         lyon                 7          1.216052
20445   10112         lyon                 8          1.855643
17253    7062         lyon                 8          1.833030
17565    8020         lyon                 8          1.489959
20133   10083         lyon                 8          1.470253
13749    3070         lyon                 8          1.455214
17781    8035         lyon                 8          1.410408
20109   10080         lyon                 8          1.401758
992        15       dublin                 8          1.298209
19269   10024         lyon                 8          1.283001
17085    7051         lyon                 8          1.276162
19966   10071         lyon                 9          4.242641
15214    5041         lyon                 9          2.372684
19918   10063         lyon                 9          2.300895
17254    7062         lyon                 9          1.646708
13798    3079         lyon                 9          1.562619
19126   10015         lyon                 9          1.455214
19462   10035         lyon                 9          1.386161
19222   10021         lyon                 9          1.373352
19630   10045         lyon                 9          1.367268
11950    1034         lyon                 9          1.356466
19919   10063         lyon                10          1.989556
11951    1034         lyon                10          1.620185
13751    3070         lyon                10          1.620185
17567    8020         lyon                10          1.597990
11879    1024         lyon                10          1.455214
19127   10015         lyon                10          1.455214
15215    5041         lyon                10          1.449138
19007   10008         lyon                10          1.418626
13799    3079         lyon                10          1.393715
19343   10028         lyon                10          1.374091
19968   10071         lyon                11          2.068247
19224   10021         lyon                11          1.492315
17352    8003         lyon                11          1.455214
19128   10015         lyon                11          1.455214
11688    1006         lyon                11          1.282261
13728    3069         lyon                11          1.255569
13872    3082         lyon                11          1.242625
17736    8033         lyon                11          1.212901
13128    3012         lyon                11          1.187699
18456    9014         lyon                11          1.183360
17353    8003         lyon                12          1.455214
21385   19001         lyon                12          1.348510
19129   10015         lyon                12          1.326849
15049    5026         lyon                12          1.290953
19225   10021         lyon                12          1.229625
14065    3090         lyon                12          1.196702
19633   10045         lyon                12          1.194204
18457    9014         lyon                12          1.145172
16705    7023         lyon                12          1.136160
11556     555         lyon                12          1.120469
19250   10023         lyon                13          1.775848
13754    3070         lyon                13          1.677551
17498    8010         lyon                13          1.563699
13586    3051         lyon                13          1.547680
19970   10071         lyon                13          1.512295
11954    1034         lyon                13          1.489959
21386   19001         lyon                13          1.455214
17354    8003         lyon                13          1.395678
19394   10031         lyon                13          1.365695
14546    4012         lyon                13          1.318734
11558     555         lyon                14          1.664101
17091    7051         lyon                14          1.564419
13059    3008         lyon                14          1.463919
17355    8003         lyon                14          1.460881
21387   19001         lyon                14          1.455214
19443   10034         lyon                14          1.436732
13155    3013         lyon                14          1.435849
19251   10023         lyon                14          1.367971
16659    7021         lyon                14          1.346298
14763    4041         lyon                14          1.345587
7815      201         lyon                15          2.335497
11559     555         lyon                15          1.596872
21388   19001         lyon                15          1.455214
19108   10014         lyon                15          1.331544
13804    3079         lyon                15          1.249417
13060    3008         lyon                15          1.239351
3279       62    bruxelles                15          1.216272
3255       61       dublin                15          1.173429
20020   10073         lyon                15          1.170669
15052    5026         lyon                15          1.151968
13757    3070         lyon                16          1.603567
11560     555         lyon                16          1.455214
21389   19001         lyon                16          1.348981
4072       79    bruxelles                16          1.345185
7816      201         lyon                16          1.345185
3256       61       dublin                16          1.275488
4456       87       dublin                16          1.171487
13061    3008         lyon                16          1.170688
19421   10032         lyon                16          1.162841
13973    3086         lyon                16          1.146606
19422   10032         lyon                17          2.300895
3281       62    bruxelles                17          1.455214
4073       79    bruxelles                17          1.455214
11561     555         lyon                17          1.455214
21390   19001         lyon                17          1.455214
20478   10113         lyon                17          1.317186
3257       61       dublin                17          1.253085
2993       55       dublin                17          1.236201
14022    3088         lyon                17          1.176079
18894   10002         lyon                17          1.171892
16063    6041         lyon                18          4.358899
19423   10032         lyon                18          3.158322
19471   10035         lyon                18          1.585782
21271   16005         lyon                18          1.512295
3282       62    bruxelles                18          1.455214
4074       79    bruxelles                18          1.455214
11562     555         lyon                18          1.455214
18439    9013         lyon                18          1.413392
21391   19001         lyon                18          1.395678
16783    7026         lyon                18          1.344012
16520    7015         lyon                19          2.995367
16064    6041         lyon                19          2.509980
18440    9013         lyon                19          1.699801
13352    3031         lyon                19          1.633075
14000    3087         lyon                19          1.581035
11563     555         lyon                19          1.567208
21392   19001         lyon                19          1.567208
20696   10122         lyon                19          1.540340
4075       79    bruxelles                19          1.512295
3283       62    bruxelles                19          1.465127
4076       79    bruxelles                20          1.769303
16521    7015         lyon                20          1.769303
21393   19001         lyon                20          1.769303
20553   10116         lyon                20          1.660143
3284       62    bruxelles                20          1.636634
13833    3080         lyon                20          1.465715
14001    3087         lyon                20          1.464684
13353    3031         lyon                20          1.394231
15849    6028         lyon                20          1.379849
1676       25       dublin                20          1.374102
16522    7015         lyon                21          2.763854
21394   19001         lyon                21          1.769303
13186    3015         lyon                21          1.769303
20554   10116         lyon                21          1.710526
4077       79    bruxelles                21          1.671422
14002    3087         lyon                21          1.620827
12946    3003         lyon                21          1.584323
3285       62    bruxelles                21          1.529706
13354    3031         lyon                21          1.513713
12490    2019         lyon                21          1.509508
14291    3138         lyon                22          4.898979
13115    3011         lyon                22          2.274294
16307    7006         lyon                22          1.818032
4078       79    bruxelles                22          1.769303
21395   19001         lyon                22          1.769303
14003    3087         lyon                22          1.732170
1678       25       dublin                22          1.591302
19811   10056         lyon                22          1.504619
13355    3031         lyon                22          1.489091
13091    3009         lyon                22          1.477421
1679       25       dublin                23          4.358899
13116    3011         lyon                23          2.995367
21396   19001         lyon                23          2.932716
13644    3058         lyon                23          2.442317
13188    3015         lyon                23          2.227922
16788    7026         lyon                23          1.832121
12060    2001         lyon                23          1.745065
4079       79    bruxelles                23          1.620185
599         9       dublin                23          1.591086
15972    6036         lyon                23          1.484642

According to the output dataframe, one an hourly basis, for the top 10 most active stations pre-christmas, a vast majority are in Lyon. Some are in Bruxelles and less so in Dublin. This proves again that the bike stations in Toyama are relatively the least active.

#### 5. Do the cities in the lists from 3 and 4 change significantly post-christmas?

In [23]:
# we first slice the dataset to get data for post-christmas

post_christmas_daily = bikes_data_df[bikes_data_df.last_update_day > 25]

In [24]:
# next we create a pivot table that aggregates over days, number, and contractName. 
# We use normalized standard deviation that we created earlier as aggfunction

post_christmas_daily_pivot = pd.pivot_table(post_christmas_daily, 
               index=["number", "contractName"], 
               columns=["last_update_day"], 
               values=["totalStands_availabilities.bikes"], aggfunc=[normal_std])

C:\Users\dines\AppData\Local\Temp\ipykernel_19040\116835333.py:5: RuntimeWarning: invalid value encountered in double_scalars
  return group.std() / group.mean()

For each day, we need to sort the values individually because each day is a column and sorting one column unsorts the other

In [25]:
# sorting 26 Dec values

print(post_christmas_daily_pivot[("normal_std", "totalStands_availabilities.bikes", 26)].sort_values(ascending=False).head(10))

# sorting 27 Dec values

print(post_christmas_daily_pivot[("normal_std", "totalStands_availabilities.bikes", 27)].sort_values(ascending=False).head(10))

# sorting 28 Dec values

print(post_christmas_daily_pivot[("normal_std", "totalStands_availabilities.bikes", 28)].sort_values(ascending=False).head(10))

# sorting 29 Dec values

print(post_christmas_daily_pivot[("normal_std", "totalStands_availabilities.bikes", 29)].sort_values(ascending=False).head(10))

number  contractName
8037    lyon            5.522133
8059    lyon            2.782086
14001   lyon            2.151404
6041    lyon            1.509405
3024    lyon            1.468548
7015    lyon            1.313489
10063   lyon            1.281551
10115   lyon            1.277152
1036    lyon            1.262137
7023    lyon            1.261426
Name: (normal_std, totalStands_availabilities.bikes, 26), dtype: float64
number  contractName
8003    lyon            1.851109
10004   lyon            1.327837
10110   lyon            1.326086
8059    lyon            1.256436
7015    lyon            1.251278
6041    lyon            1.247480
7055    lyon            1.183066
2015    lyon            1.155800
8037    lyon            1.138377
10013   lyon            1.134777
Name: (normal_std, totalStands_availabilities.bikes, 27), dtype: float64
number  contractName
62      dublin          1.265544
10019   lyon            1.083912
8021    lyon            1.080507
33      dublin          1.054279
7013    lyon            1.049873
37      dublin          1.049171
14004   lyon            1.048235
7015    lyon            1.024669
8052    lyon            1.014379
1034    lyon            1.005549
Name: (normal_std, totalStands_availabilities.bikes, 28), dtype: float64
number  contractName
27      dublin          4.948717
6043    lyon            3.030458
8050    lyon            2.983325
17      dublin          2.781110
10091   lyon            2.575185
3079    lyon            2.135416
10089   lyon            2.110687
7013    lyon            2.066308
1021    lyon            1.860077
1034    lyon            1.820714
Name: (normal_std, totalStands_availabilities.bikes, 29), dtype: float64

Even post christmas, Lyon remains the city with the most active stations, on a daily basis. However, we see some Dublin stations in the list too

In [26]:
top_10_hourly_group = post_christmas_daily\
                      .groupby(["number", "contractName", "last_update_hour"])["totalStands_availabilities.bikes"]\
                      .agg([("bikes_normal_std", normal_std)])\
                      .reset_index()

top_10_hourly_group\
.sort_values(["last_update_hour", "bikes_normal_std"], ascending=[True, False])\
.groupby("last_update_hour").head(10)

C:\Users\dines\AppData\Local\Temp\ipykernel_19040\116835333.py:5: RuntimeWarning: invalid value encountered in double_scalars
  return group.std() / group.mean()

       number contractName  last_update_hour  bikes_normal_std
13783    3080         lyon                 0          1.455214
16471    7015         lyon                 0          1.455214
18895   10005         lyon                 0          1.455214
19039   10013         lyon                 0          1.455214
13399    3038         lyon                 0          1.455214
20839   12001         lyon                 0          1.395678
13591    3058         lyon                 0          1.358262
14239    3138         lyon                 0          1.348637
13135    3015         lyon                 0          1.242320
13063    3011         lyon                 0          1.185565
20216   10089         lyon                 1          1.757088
16472    7015         lyon                 1          1.596872
13592    3058         lyon                 1          1.499099
13064    3011         lyon                 1          1.455214
14240    3138         lyon                 1          1.455214
16424    7013         lyon                 1          1.455214
20840   12001         lyon                 1          1.455214
13400    3038         lyon                 1          1.455214
18896   10005         lyon                 1          1.395678
12344    2015         lyon                 1          1.348510
20841   12001         lyon                 2          1.596872
20217   10089         lyon                 2          1.529706
16425    7013         lyon                 2          1.512295
11769    1021         lyon                 2          1.498298
12345    2015         lyon                 2          1.455214
14241    3138         lyon                 2          1.455214
16473    7015         lyon                 2          1.455214
18897   10005         lyon                 2          1.455214
11913    1034         lyon                 2          1.449138
13593    3058         lyon                 2          1.444630
13810    3081         lyon                 3          1.932787
18898   10005         lyon                 3          1.881796
12970    3006         lyon                 3          1.777016
11914    1034         lyon                 3          1.623810
14242    3138         lyon                 3          1.563356
20218   10089         lyon                 3          1.529706
16210    7004         lyon                 3          1.500164
16426    7013         lyon                 3          1.481822
14074    3094         lyon                 3          1.466815
13594    3058         lyon                 3          1.448923
17675    8030         lyon                 4          1.466575
13811    3081         lyon                 4          1.435673
2020       33       dublin                 4          1.412211
16427    7013         lyon                 4          1.339695
16211    7004         lyon                 4          1.313277
3508       67    bruxelles                 4          1.311709
12971    3006         lyon                 4          1.289853
11963    1036         lyon                 4          1.276089
13739    3071         lyon                 4          1.249362
18899   10005         lyon                 4          1.244906
13812    3081         lyon                 5          1.425991
16428    7013         lyon                 5          1.381927
3509       67    bruxelles                 5          1.265382
13740    3071         lyon                 5          1.249362
12972    3006         lyon                 5          1.227693
20220   10089         lyon                 5          1.225004
2021       33       dublin                 5          1.209108
17676    8030         lyon                 5          1.188715
18132    8059         lyon                 5          1.173623
13260    3024         lyon                 5          1.104891
3510       67    bruxelles                 6          1.385182
16429    7013         lyon                 6          1.339695
18133    8059         lyon                 6          1.150299
13813    3081         lyon                 6          1.132043
19045   10013         lyon                 6          1.120907
18901   10005         lyon                 6          1.097038
14221    3103         lyon                 6          1.075538
20221   10089         lyon                 6          1.062357
17317    8003         lyon                 6          1.061582
11917    1034         lyon                 6          1.055369
16238    7005         lyon                 7          1.302738
18134    8059         lyon                 7          1.263100
16382    7011         lyon                 7          1.244731
20294   10101         lyon                 7          1.236447
151         3       dublin                 7          1.147315
12974    3006         lyon                 7          1.088625
18878   10004         lyon                 7          1.085588
11918    1034         lyon                 7          1.074925
17318    8003         lyon                 7          1.061582
20222   10089         lyon                 7          1.058705
16911    7038         lyon                 8          2.102630
20223   10089         lyon                 8          1.512295
18135    8059         lyon                 8          1.461658
14199    3102         lyon                 8          1.455214
19191   10021         lyon                 8          1.455214
20415   10112         lyon                 8          1.400081
152         3       dublin                 8          1.398173
17535    8020         lyon                 8          1.370238
17319    8003         lyon                 8          1.361979
17487    8011         lyon                 8          1.331657
14200    3102         lyon                 9          1.467424
21352   19001         lyon                 9          1.459334
17776    8037         lyon                 9          1.455214
18136    8059         lyon                 9          1.455214
18976   10008         lyon                 9          1.406633
20368   10110         lyon                 9          1.395678
16384    7011         lyon                 9          1.357608
17536    8020         lyon                 9          1.347238
801        12       dublin                 9          1.289898
20320   10102         lyon                 9          1.277636
18857   10002         lyon                10          1.677551
17777    8037         lyon                10          1.428643
19769   10056         lyon                10          1.383575
13745    3071         lyon                10          1.302413
16097    6044         lyon                10          1.289909
17129    7055         lyon                10          1.275188
18137    8059         lyon                10          1.261372
17969    8052         lyon                10          1.250778
16913    7038         lyon                10          1.228838
20369   10110         lyon                10          1.219419
18858   10002         lyon                11          1.858325
18138    8059         lyon                11          1.476881
20298   10101         lyon                11          1.436387
17778    8037         lyon                11          1.435125
16386    7011         lyon                11          1.382477
16914    7038         lyon                11          1.350410
19770   10056         lyon                11          1.236019
11922    1034         lyon                11          1.179154
13266    3024         lyon                11          1.157470
13746    3071         lyon                11          1.124756
18139    8059         lyon                12          1.455214
20371   10110         lyon                12          1.278483
11923    1034         lyon                12          1.269538
13267    3024         lyon                12          1.248063
13747    3071         lyon                12          1.242334
20227   10089         lyon                12          1.225786
17083    7052         lyon                12          1.171487
17323    8003         lyon                12          1.157470
17779    8037         lyon                12          1.155420
15043    5029         lyon                12          1.149342
20444   10113         lyon                13          1.479005
16244    7005         lyon                13          1.288363
16676    7023         lyon                13          1.287587
13268    3024         lyon                13          1.197153
19124   10016         lyon                13          1.183095
13748    3071         lyon                13          1.174848
11924    1034         lyon                13          1.168641
17828    8039         lyon                13          1.164384
17324    8003         lyon                13          1.157470
16220    7004         lyon                13          1.149869
16989    7045         lyon                14          1.368828
16101    6044         lyon                14          1.331305
17229    7062         lyon                14          1.299977
18861   10002         lyon                14          1.252736
19893   10063         lyon                14          1.249114
19053   10013         lyon                14          1.192383
13821    3081         lyon                14          1.166460
17325    8003         lyon                14          1.157470
17829    8039         lyon                14          1.153807
19125   10016         lyon                14          1.142043
17086    7052         lyon                15          1.501717
17230    7062         lyon                15          1.487224
13318    3031         lyon                15          1.333333
5559      111       dublin                15          1.156403
16678    7023         lyon                15          1.144304
17254    7064         lyon                15          1.134924
20038   10075         lyon                15          1.091742
20446   10113         lyon                15          1.068028
21454   21001         lyon                15          1.061549
17326    8003         lyon                15          1.039798
19895   10063         lyon                16          1.470795
13319    3031         lyon                16          1.395678
11927    1034         lyon                16          1.316524
16679    7023         lyon                16          1.259399
13895    3084         lyon                16          1.157219
18071    8056         lyon                16          1.157084
20447   10113         lyon                16          1.124005
3520       67    bruxelles                16          1.101822
17327    8003         lyon                16          1.100305
13367    3035         lyon                16          1.080030
13536    3050         lyon                17          1.465806
13320    3031         lyon                17          1.455214
16488    7015         lyon                17          1.446950
20496   10115         lyon                17          1.376697
13368    3035         lyon                17          1.252724
12984    3006         lyon                17          1.230963
19896   10063         lyon                17          1.195405
17328    8003         lyon                17          1.190528
15960    6037         lyon                17          1.148794
14160    3100         lyon                17          1.109348
13369    3035         lyon                18          1.910658
13321    3031         lyon                18          1.476881
16489    7015         lyon                18          1.455214
11929    1034         lyon                18          1.329315
18913   10005         lyon                18          1.323715
20497   10115         lyon                18          1.235007
18889   10004         lyon                18          1.204736
17329    8003         lyon                18          1.182221
1146       17       dublin                18          1.147447
19393   10032         lyon                18          1.134138
17258    7064         lyon                19          1.456620
16490    7015         lyon                19          1.455214
13370    3035         lyon                19          1.376275
13322    3031         lyon                19          1.305428
19394   10032         lyon                19          1.236852
13538    3050         lyon                19          1.224404
20042   10075         lyon                19          1.210667
11930    1034         lyon                19          1.192809
20858   12001         lyon                19          1.162373
17330    8003         lyon                19          1.157470
13899    3084         lyon                20          1.455214
16491    7015         lyon                20          1.455214
20859   12001         lyon                20          1.455214
12987    3006         lyon                20          1.326553
13371    3035         lyon                20          1.296148
13803    3080         lyon                20          1.288522
20043   10075         lyon                20          1.248399
18915   10005         lyon                20          1.238943
17259    7064         lyon                20          1.143967
1148       17       dublin                20          1.115554
18916   10005         lyon                21          1.446950
13324    3031         lyon                21          1.434248
14260    3138         lyon                21          1.395678
597         9       dublin                21          1.345934
16492    7015         lyon                21          1.345185
13804    3080         lyon                21          1.336699
13372    3035         lyon                21          1.289961
13084    3011         lyon                21          1.251244
16228    7004         lyon                21          1.213954
13900    3084         lyon                21          1.194431
598         9       dublin                22          1.596872
13829    3081         lyon                22          1.567208
16493    7015         lyon                22          1.455214
18917   10005         lyon                22          1.455214
14261    3138         lyon                22          1.455214
13421    3038         lyon                22          1.356552
13901    3084         lyon                22          1.349903
19397   10032         lyon                22          1.332803
13805    3080         lyon                22          1.320460
13325    3031         lyon                22          1.305428
13830    3081         lyon                23          1.777047
13806    3080         lyon                23          1.630471
14262    3138         lyon                23          1.596872
18918   10005         lyon                23          1.455214
13422    3038         lyon                23          1.455214
13086    3011         lyon                23          1.381101
12990    3006         lyon                23          1.347776
19398   10032         lyon                23          1.252939
19062   10013         lyon                23          1.239621
599         9       dublin                23          1.218705

Post-christmas, on an hourly basis, it seems that Lyon has even more stations on the top 10 most active stations

#### 6. Of the cities in the dataset that have stations with both mechanical and electric bikes, are there any cities having strong preference for either mechanical or electric bikes?

To answer this quesiton, we first need to segregate the stations that have both mechnical and electic bikes and stations that have only mechanical ones

In [27]:
mech_and_electric = bikes_data_df.groupby(["number", "contractName"]).agg({
    "totalStands_availabilities.electricalBikes": "sum"
}).reset_index()

# we filter the grouped dataframe to find stations that have 0 electric bikes and create a new dataframe from it

non_electric_stations = mech_and_electric[mech_and_electric["totalStands_availabilities.electricalBikes"] == 0]

non_electric_stations

     number contractName  totalStands_availabilities.electricalBikes
1         1       toyama                                           0
4         2       toyama                                           0
7         3       toyama                                           0
10        4       toyama                                           0
13        5       toyama                                           0
16        6       toyama                                           0
19        7       toyama                                           0
22        8       toyama                                           0
25        9       toyama                                           0
28       10       toyama                                           0
31       11       toyama                                           0
34       12       toyama                                           0
37       13       toyama                                           0
39       14       toyama                                           0
42       15       toyama                                           0
45       16       toyama                                           0
48       17       toyama                                           0
51       18       toyama                                           0
54       19       toyama                                           0
56       20       toyama                                           0
59       21       toyama                                           0
62       22       toyama                                           0
65       23       toyama                                           0
121      54    bruxelles                                           0
324     201    bruxelles                                           0
482     600         lyon                                           0
904   30001         lyon                                           0

It may be the case that none of the stations in Toyama have electric bikes. Let us verify this using the bikes_data_df dataframe

In [28]:
bikes_data_df[(bikes_data_df.index.get_level_values("contractName") == "toyama")\
              & (bikes_data_df["totalStands_availabilities.electricalBikes"] > 0)]

Empty DataFrame
Columns: [name, address, position, banking, bonus, status, connected, overflow, shape, totalStands_capacity, totalStands_availabilities.bikes, totalStands_availabilities.stands, totalStands_availabilities.mechanicalBikes, totalStands_availabilities.electricalBikes, totalStands_availabilities.electricalInternalBatteryBikes, totalStands_availabilities.electricalRemovableBatteryBikes, mainStands_capacity, mainStands_availabilities.bikes, mainStands_availabilities.stands, mainStands_availabilities.mechanicalBikes, mainStands_availabilities.electricalBikes, mainStands_availabilities.electricalInternalBatteryBikes, mainStands_availabilities.electricalRemovableBatteryBikes, last_update_day, last_update_month, last_update_hour]
Index: []

[0 rows x 26 columns]

So, now we can discount all stations in Toyama and the few stations in Lyon and Bruxelles completely for this particular analysis

In [29]:
# we first take columns from the non_electric_stations dataframe and convert it to a list

keys = list(non_electric_stations.columns.values)

# we need to reset the index for bikes_data_df and set the newly created keys list as the new index. 
# The same needs to be done for the non_electric_stations dataframe

idx1 = bikes_data_df.reset_index().set_index(keys).index
idx2 = non_electric_stations.set_index(keys).index

# this is where we take the orignial bikes_data_df and filter out all stations with 0 electric bikes, 
# leaving stations with both electric and mechanical bikes

mech_electric_analysis_df = bikes_data_df[~idx1.isin(idx2)]

Finally, we use the newly created mech_electric_analysis_df to obtain the normal standard deviation of both mechnical and electric bikes grouped by contractName (city)

In [30]:
mech_electric_analysis_df.groupby("contractName").agg({
    "totalStands_availabilities.electricalBikes": normal_std,
    "totalStands_availabilities.mechanicalBikes": normal_std
})

,totalStands_availabilities.electricalBikes,totalStands_availabilities.mechanicalBikes
contractName,,
bruxelles,0.636122,0.486301
dublin,0.924482,0.615470
lyon,0.912668,0.828037

Clearly, all 3 cities that have electric bikes prefer electric over mechanical bikes. For Dublin, the difference is very significant compared to the other two.

### Closing Thoughts
We can safely conclude that most stations in Lyon, France and Bruxelles, Belgium have the most active stations. Dublin, Ireland has fairly active ridership as well. Thus, it would make sense for our media client to focus their resources on the stations indicated in our analysis